@import "var/variables.scss",
        "mixin/mixin.scss";
.btn{
    background-color: $btn;
    color: white;
    &-space{
        margin: 20px;
    }
    &:hover{
        color:white; 
    }
}

.top{
    height: 40rem;
    position: relative;
    
    .background-1{
        background-image: url("https://placeimg.com/1900/700/tech");
        background-repeat: no-repeat;
        a{
            p{
                padding-top: 15px;
                @include Extra-small{
                    padding-top: 0px;
                }
                @include Small{
                    padding-top: 0px;
                }
            }
        }
    }
    .background-2{
        background-image: url("https://placeimg.com/1900/700/tech");
        background-repeat: no-repeat;
        a{
            p{
                padding-top: 15px;
                @include Extra-small{
                    padding-top: 0px;
                }
                @include Small{
                    padding-top: 0px;
                }
            }
        }
    }
    .background-3{
        background-image: url("https://placeimg.com/1900/700/tech");
        background-repeat: no-repeat;
        a{
            p{
                padding-top: 15px;
                @include Extra-small{
                    padding-top: 0px;
                }
                @include Small{
                    padding-top: 0px;
                }
            }
        }
    }
    .slick-dots{
        margin-bottom: 3rem;
        // color: white;
        li.slick-active{
            button{
                border-radius: 50%;
                background-color: white;
                &::before{
                    color: white;
                }
            }
        }
        button{
            border: 3px solid white;
            border-radius: 20rem;
            &::before{
                opacity: 0;
            }
            &:hover{
                &::before{
                    opacity: 0;
                }
                background-color: $btn;
            }
        }
        
    }
    .mid-cover{
        position: relative;
        background-color: rgba(0,0,0,0.5);
        color: white;
        text-align: center;
        margin: auto;
        h5{
            padding-bottom: 1rem;
        }
        h2{
            padding-bottom: 1rem;
        }
        .btn{
            width: 12rem;
            height: 4.5rem;
            color: white;
        }
        .space{
            padding-top: 3rem;
        }
        @include three-twenty{
            top: 20%;
            width: 20rem;
            height: 20rem;
        }
        @include Extra-small{
            top: 20%;
            width: 20rem;
            height: 20rem;
            .btn{
                width: 5rem;
                height: 4rem;
            }
            .space{
                padding-top: 0;
            }
        }
        @include Small{
            top: 20%;
            width: 30rem;
            height: 20rem;
            .btn{
                width: 5rem;
                height: 4rem;
            }
        }
        @include Medium{
            top: 25%;
            width: 40rem;
            height: 20rem;
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-align: center;
            .btn{
                width: 12rem;
                height: 4.5rem;
            }
            .space{
                padding-top: 3rem;
            }
        }
        @include Large{
            top: 25%;
            width: 40rem;
            height: 20rem;
            background-color: rgba(0,0,0,0.5);
            color: white;
            text-align: center;
            h5{
                padding-bottom: 1rem;
            }
            h2{
                padding-bottom: 1rem;
            }
            .btn{
                width: 12rem;
                height: 4.5rem;
                color: white;
            }
            .space{
                padding-top: 3rem;
            }
        }
    }
}

//services cards
.Services{
    text-align: center;
    h3{
        a{
            color: black;
        }
    }
}
.our-services {
    width: 100%;
    .card{
        overflow: hidden;
        padding: 0;
        margin-bottom: 15px;
        img{
            height: 300px;
        }
        &:hover{
            .hide{
                display: block;
            }
            img{
                height: 0px;
            }
            .card-body {
                height: 420px;
            }
        }
    }
    .card-body{
        background-color: $cardBody;
        text-align: center;
    }
    .space-between{
        margin-left: 20px;
        margin-right: 20px;
        @include Small{
            margin-right: 20px;
        }
    }
    .hide{
        display:none;
    }
}
//cards under banner
.small-img{
    overflow: hidden;
    color: white;
    padding: 0;
    margin-left: 15px;
    margin-right: 15px;
    @include Extra-small {
        margin-bottom: 20px;
    }
    @include Small {
        margin-bottom: 20px;
    }
    @include Medium {
        margin-left: 5px;
        margin-right: 5px;
        margin-bottom:10px; 
        &-1{
            margin-left: 2rem;
        }
    }
    img{
        object-fit: cover;
        height: 200px;
    }
    ul{
        list-style-type: none;
    }
    .card-head{
        padding-bottom: 20px;
        background-color: $cardHeader;
        text-align: center;
        height: 10rem;
        img{
            width: 100%;
        }
        h3{
            padding-top: 2.5rem;
        }
    }
    .card-body{
        padding-top:42px;
        text-align: center;
        background-color: $cardBody;
        ul {
            padding-left: 0;
        }
        .max-input{
            width: 100%;
            margin-top: 10px;
            margin-bottom: 20px; 
        }
        li{
            a{
                color: white;
                &[placeholder="Email Address*"]{
                    margin-bottom: 20px;
                }
            }
        }
        p{
            margin-bottom: 5px;  
        }
    }   
}

//banner
.abb{
    height: 15rem;
    margin-bottom: 50px;
    background-image: linear-gradient(to right, $ABBBanner 60%, rgba(119, 120, 124, 0.8)) ,url("https://placeimg.com/700/700/tech");
    background-position: right;
    background-repeat: no-repeat;
    color: white;
    .space{
        padding-top: 1.5rem;
    }
    .pad{
        padding-top: 20px;
        a{
            width: 11rem;
            height: 4rem;
            p{
                padding-top: 0.7rem;
            }
        }
    }
    @include Extra-small{
        height: 30rem;
        text-align: center;
        .info{
            display: block;
            p:nth-child(3){
                display: none;
            }
        }
        h3{
            font-size: 1rem;
            text-align: center;
        }
        .pad{
            padding-top: 10px;
            a{
                width: 7rem;
                height: 3rem;
                p{
                    padding-top: 0.3rem;
                }
            }
        }
    }
    @include Small{
        height: 20rem;
        text-align: center;
        .info{
            display: block;
            p:nth-child(3){
                display: none;
            }
        }
        h3{
            font-size: 1.5rem;
            text-align: center;
        }
        .pad{
            padding-top: 10px;
            a{
                width: 7rem;
                height: 3rem;
                p{
                    padding-top: 0.3rem;
                }
            }
        }
    }
    @include Medium{
        height: 15rem;
        text-align: start;
        .info{
            p:nth-child(3){
                display: block;
            }
        }
        h3{
            text-align: start;
        }
    }
    @include Large{
        .info{
            p:nth-child(3){
                display: block;
            }
        }
    }
}
