.btn {
  background-color: #7bba9b;
  color: white;
}

.btn-space {
  margin: 20px;
}

.btn:hover {
  color: white;
}

.top {
  height: 40rem;
  position: relative;
}

.top .background-1 {
  background-image: url("https://placeimg.com/1900/700/tech");
  background-repeat: no-repeat;
}

.top .background-1 a p {
  padding-top: 15px;
}

.top .background-2 {
  background-image: url("https://placeimg.com/1900/700/tech");
  background-repeat: no-repeat;
}

.top .background-2 a p {
  padding-top: 15px;
}

.top .background-3 {
  background-image: url("https://placeimg.com/1900/700/tech");
  background-repeat: no-repeat;
}

.top .background-3 a p {
  padding-top: 15px;
}

.top .slick-dots {
  margin-bottom: 3rem;
}

.top .slick-dots li.slick-active button {
  border-radius: 50%;
  background-color: white;
}

.top .slick-dots li.slick-active button::before {
  color: white;
}

.top .slick-dots button {
  border: 3px solid white;
  border-radius: 20rem;
}

.top .slick-dots button::before {
  opacity: 0;
}

.top .slick-dots button:hover {
  background-color: #7bba9b;
}

.top .slick-dots button:hover::before {
  opacity: 0;
}

.top .mid-cover {
  position: relative;
  left: 34%;
  top: 25%;
  width: 40rem;
  height: 20rem;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  text-align: center;
}

.top .mid-cover h5 {
  padding-bottom: 1rem;
}

.top .mid-cover h2 {
  padding-bottom: 1rem;
}

.top .mid-cover .btn {
  width: 12rem;
  height: 4.5rem;
  color: white;
}

.top .mid-cover .space {
  padding-top: 3rem;
}

.Services {
  text-align: center;
}

.Services h3 a {
  color: black;
}

.our-services {
  width: 100%;
}

.our-services .card {
  overflow: hidden;
  padding: 0;
  margin-bottom: 15px;
}

.our-services .card img {
  height: 300px;
}

.our-services .card:hover .hide {
  display: block;
}

.our-services .card:hover img {
  height: 0px;
}

.our-services .card:hover .card-body {
  height: 420px;
}

.our-services .card-body {
  background-color: #4f9f78;
  text-align: center;
}

.our-services .space-between {
  margin-left: 20px;
  margin-right: 20px;
}

.our-services .hide {
  display: none;
}

.small-img {
  overflow: hidden;
  color: white;
  padding: 0;
  margin-left: 15px;
  margin-right: 15px;
}

.small-img img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 200px;
}

.small-img ul {
  list-style-type: none;
}

.small-img .card-head {
  background-color: #2e8457;
  text-align: center;
  height: 10rem;
}

.small-img .card-head img {
  width: 100%;
}

.small-img .card-head h3 {
  padding-top: 2.5rem;
}

.small-img .card-body {
  text-align: center;
  background-color: #4f9f78;
}

.small-img .card-body ul {
  padding-left: 0;
}

.small-img .card-body .max-input {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.small-img .card-body li a {
  color: white;
}

.small-img .card-body li a[placeholder="Email Address*"] {
  margin-bottom: 20px;
}

.small-img .card-body p {
  margin-bottom: 5px;
}

.abb {
  height: 15rem;
  margin-bottom: 50px;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(60%, #77787c), to(rgba(119, 120, 124, 0.8))), url("https://placeimg.com/700/700/tech");
  background-image: linear-gradient(to right, #77787c 60%, rgba(119, 120, 124, 0.8)), url("https://placeimg.com/700/700/tech");
  background-position: right;
  background-repeat: no-repeat;
  color: white;
}

.abb .space {
  padding-top: 1.5rem;
}

.abb .test {
  padding-top: 20px;
}

.abb .test a {
  width: 11rem;
  height: 4rem;
}

.abb .test a p {
  padding-top: 0.7rem;
}
/*# sourceMappingURL=style.css.map */