$cardBody: rgb(79, 159, 120); //shiny shamrock
$smallCard: rgb(79, 159, 120); //shiny shamrock
$btn: rgb(123, 186, 155); //Green Sheen
$cardHeader: rgb(46, 132, 87); //sea green
$ABBBanner: rgb(119, 120, 124); //sonic silver
$hoverNav: rgb(119, 120, 124); //sonic silver
$footer: rgb(119, 120, 124); //sonic silver
$footerBottom: rgb(119, 120, 124); //sonic silver
$navBar: rgb(65, 65, 67); //Arsenic
$footerTop: rgb(239, 46, 99); //Cherry

